* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontainer{
    top: 0px;
    position: fixed;
    width: 1440px;
   height: 68px; 
   display: flex;
   justify-content: space-between;
   padding-right: 100px;
   padding-left: 50px;
  

}
nav{
   
    top: 0;
    position: sticky;
    height: 68px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 811px;
    height: 68px;
    gap: 0px;
opacity: 0px; */

}
.logo{
    width: 219px;
    height: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: right 0;
    margin-top: -30px;
    gap: 0px;

}
nav,ul{
    display: flex;
    list-style: none;
}
nav,ul,li{
    font-family:space Grotesk;
    font-size: 20px;
    font-weight: 400px;
    line-height: 28px;
    color: black;
    margin: 0 16px;
}
.navbtn{
    width: 161px;
    height: 28px;
    padding: 0px 35px 42px 35px;
    gap: 10px;
    border: solid 1px;
    border-radius: 14px;
    opacity: 0px;
    font-family: Space Grotesk;
    font-size: 20px;
    font: weight 400px;
    text-align: center;
    color: #000;
    

} 
/* nav copplate */
/* hero section starts */
.sprk{
    display: flex;
    justify-content: space-between;
    width: fixed 1440px;
    height: 515px;
    padding: 0px 100px 0px 50px;
    margin-top: 50px;
} 
.sprka{

    width: 531px;
    height: 481px;
    gap: 35px;
}
.sprkb{
    width: 600.4px;
    height: 515px;
    gap: 0px;
    border: #000 1px;
}
.sph{
font-family: Space Grotesk;
font-size: 60px;
font-weight: 500;
line-height: 76.56px;
text-align: left;
}
.spp{
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}
.spbtn{
    position: relative;
    margin-bottom: 10px;
    width: Hug (264px)px;
height: Hug (68px)px;
padding: 20px 35px 20px 35px;
gap: 10px;
border-radius: 14px;
opacity: 0px;
color: #FFFFFF;
background: #191A23;
font-family: Space Grotesk;
font-size: 20px;
font-weight: 400;
line-height: 28px;
text-align: center;
}
/* hero section ends */
      /* compony logo section */
.logotypes{
position: absolute;
width: Fixed (1,440px)px; 
height: Hug (48px)px;
padding: 0px 100px 0px 100px;
gap: 0px;
display: flex;
justify-content: space-between;
opacity: 0px;
margin-top: 100px;
margin-left: -140px;
} 
/* compony section ends     */
.ourmain{
    width:fixed 1440px;
height:100px
;
top: 1492px;
padding: 0px 100px 0px 100px;
gap: 40px;
opacity: 0px;
display: flex;
margin-top: 30px;
margin-bottom: 20px;


}
.ourh{
    background: #B9FF66;
    width: 412px;
    height: 51px;
    padding: 0px 7px 0px 7px;
    gap: 10px;
    border-radius: 7px 0px 0px 0px;
    opacity: 0px;
    
}
.ourp{
    color: #000000;
    width: 292px;
    height: 46px;
font-family: Space Grotesk;
font-size: 18px;
font-weight: 400;
line-height: 22.97px;
text-align: left;


}
/* long card section */

.cardone{
    display: flex;
    
    background: #B9FF66;
    width: Fixed (1,234px)px;
    height: 180px;
    padding: 30px 60px 41px 60px;
    gap: 30px;
    border-radius: 45px;
    border: 1px;
    opacity: 0px;
    box-shadow: 0px 5px 0px 0px #191A23;
    


    
}
.cardh{
    position: absolute;

    width: 65px;
height: 77px;
gap: 0px;
opacity: 0px;
font-family: Space Grotesk;
font-size: 60px;
font-weight: 500;
line-height: 76.56px;
text-align: left;


}
.cardp{
    position: absolute;
    
    color: #000;
    width: 612px;
height: 38px;
gap: 0px;
     opacity: 0px;
    font-family: Space Grotesk;
    font-size: 30px;
    font-weight: 500;
    line-height: 38.28px;
    margin-top:  25px; 
    margin-left: 80px;
    
}
.cardpp{
    display: block;
    width: 940px;
height: 60px;
gap: 0px;
opacity: 0px;
font-family: Space Grotesk;
font-size: 18px;
font-weight: 400;
line-height: 22.97px;
text-align: left;
margin-top: 100px;
}

/* 6cards section */
.sixcard{
    background: #F3F3F3;
    width: Fixed (1,234px)px;
    height: Hug (159px)px;
    padding: 41px 60px 41px 60px;
    gap: 10px;
    border-radius: 45px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px 0px #191A23;
    margin-top: 10px;
    
}





